---
---

@import 'main';

/* Accent color override — #f23cff (magenta) */
[data-mode=dark] {
  --link-color:            #f23cff;
  --sidebar-active-color:  #f23cff;
  --nav-cursor-color:      #f23cff;
  --toc-highlight:         #f23cff;
  --tag-hover:             #f23cff;
}
